:root {
  --primary-color: #4b6d7b;
  --secondary-color: #50e3c2;
  --background-color: #485c67;
  --text-color: #f5f5f5;
  --logo-font: "damion";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding-top: 7em;
  @font-face {
    font-family: "damion";
    src: url("/font/Damion-Regular.ttf");
  }
}
